:root{
    --primaryColor1: hsl(31, 77%, 52%);
    --primaryColor2: hsl(184, 100%, 22%);
    --primaryColor3: hsl(179, 100%, 13%);
    --neutralColor1: hsla(0, 0%, 100%, 0.75);
    --neutralColor2: hsl(0, 0%, 95%);
}

.component{
    background-color: var(--neutralColor1);
}
.sedan_column,.sedan_column button{
    background-color: var(--primaryColor1);
    transition: .5s ease;
    
}
.suvs_column,.suvs_column button{
    background-color: var(--primaryColor2);
    transition: .5s ease;
    
}
.luxury_column,.luxury_column button{
    background-color: var(--primaryColor3);
    transition: .5s ease;
}
.sedan_column button:hover,.suvs_column button:hover,.luxury_column button:hover{
    background-color: var(--neutralColor2);
}
button{
    border: 1px solid var(--neutralColor2);
}
.column p{
    color: var(--neutralColor1);
}
.column h2{
    color: var(--neutralColor2);
}